.incoming-answers-skeleton {
    background-color: #FCF8FDe6;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.next-round {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

.save-round {
    margin: .5em 0;
    padding: .5em 3em;
    font-weight: bold;
}

.timer-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 2em 0 1em;
}

.listen-action {
    padding: .5em;
}
