.question-collection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
}

.number-of-submissions {
    display: inline-flex;
}

.question-num {
    font-family: 'Playfair Display', monospace;
    font-size: 14pt;
}

.fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: .25em;
    border: none;
}

.guess-col {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 4px;
    height: 70px;
    width: 25vw;
    padding: .25em;
    padding-right: 1em;
    margin-bottom: .5em;
}

.button {
    margin-right: .5em;
}

.guess {
    margin-left: .25em;
    font-weight: bold;
    overflow: auto;
}

.break {
    page-break-before: always;
}

.teams-that-guessed {
    word-wrap: break-word;
    font-size: 8pt;
    z-index: 1;
    overflow: overlay;
    width: 99%; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
    text-align: left;
}

.selected {
    background-color: green;
    z-index: 2;
}

.no-selected {
    background-color: red;
    z-index: 2;
}

.team-submission {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
}

.show-q-results {
    padding: .35em;
    margin-bottom: 1em;
}

.undo-save-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 10pt;
}