.round-content-skeleton {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    overflow-y: hidden;
    width: 99vw;
    height: 99%;
}

@media only screen and (max-width : 800px) {

    .content-column {
        width: 50%;
    }

    .teams-column-skeleton {
        display: none;
    }
}