.round-questions-skeleton {
    background-color: #FDFDF8e6;
    padding: 1em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.round-title {
 margin-bottom: 1.5em;   
}

h6 {
    margin-top: 0;
}
