.sign-up-skeleton {
    margin: 3em auto;
    padding: 1em 6em 1em 1em;
    background-color: #000000a3;
    text-align: left;
    display: flex;
    flex-direction: row;
    width: fit-content;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.sign-in-form {
    align-items: flex-end;
}

input {
    height: 30px;
    width: inherit;
    margin: 1em 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 12pt;
}

.sign-in-field {
    width: -webkit-fill-available;
}

#hostlocation {
    height: 30px;
    margin-left: .5em;
    width: fit-content;
}

.join-game-in-progress-link {
    background: none;
    width: fit-content;
    color: #fff;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
    margin: 1em 3em 0;
    font-size: 10pt;
}

.join-existing-game-form {
    margin-left: 4em;
}

option:nth-child(even) {
    background-color: #e6e6e4;
}

.submit-button {
    border: none;
    padding: .5em 1em;
    margin: 2em 0;
}

#start-screen-logo {
    height: 400px;
    width: 400px;
}

#sign-in-form {
    flex-direction: column;
}

.sign-in-label {
    color: #fff;
    margin-right: .5em;
}