.team-score-details-skeleton {
    position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.team-score-details-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 40%;
    overflow-y: scroll;
}

h5 {
  margin-bottom: 0;
  text-decoration: underline;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 3em;
  }

.close-hover, .close:focus {
    cursor: pointer;
}

.team-round-details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.rounds-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}