.teams-column-skeleton {
    background-color: #FDF9F8e6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
}

.show-total-scores-button {
    margin-top: 1em;
    font-family: Lucida Sans Unicode;
}

.team-score-display {
    padding: .5em 0;
}

.edit-totals {
    margin: 1em 0;
}

.edit-total-scores-input {
    padding: 2em;
}

.teams-ordered-list {
    text-align: left;
    padding-right: 1em;
    width: 85%;
}

.team-name-span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
