.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

button {
  font-family: 'Playfair Display', serif;
}

.App-header {
  background-image: url('./img/footer.png');
  height: 5vh;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14pt;
  color: white;
}

.content-skeleton {
  display: flex;
  flex-direction: column;
  height: 86vh;
  background-image: url('./img/background2.png');
  background-size: cover;
}

.content-column {
  width: 33%;
  overflow-y: scroll;
}

.team-answers-bunch {
  display: flex;
  flex-direction: row;
}

h4 {
  margin-bottom: 0;
}

.right-wrong-button {
  height: 20px;
  width: 20px;
  text-align: center;
}

#right {
  border-color: #0d700d
}

#wrong {
  border-color: #700d0d
}

.footer {
  background-image: url('./img/footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  height: 5vh;
}

.footer-label {
  margin-right: 1em;
  color: #cccccc;
  font-family: 'Playfair Display', serif
}